
.body{
    margin:0;
    font-family: "Kanit",sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    overflow-x:hidden;

}
section{
    position: relative;
    display: flex;
    padding: 200px 20vw;
    min-height: 400px;
    flex-flow: column nowrap;
    align-items: center;

}

.blue{
    background-color: blue;
}

.green{
    background-color: greenyellow;
}
.red{
    background-color: red;
}
.dark{
    background-color: black;
}

.curve{
    position:absolute;
    height: 225px;
    width: 100%;
    bottom:0;

}
.curve::before{
    content:'';
    display: block;
    position:absolute;
    border-radius: 100% 50%;
    background-color: black;
    transform: translate(85%,60%);
    width: 55%;
    height: 100%;
}
.curve::after{
    content:'';
    display: block;
    position:relative;
    width: 55%;
    height: 100%;
    border-radius: 100% 50%;
    background-color: blue;
    transform: translate(-4%,40%);
    z-index: -1;
}

.bubble::after{
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom:0;
    height: 85%;
    width: 100%;
    background-color: #0f0f10;

}

.wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavesvg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 417px;
}

.wave.shape-fill {
    fill: #000000;
}

.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.layer1{
    background-image: url(layered2.svg);
}

.spacer2{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.layer2{
    background-image: url(layered2.svg);
}
.flip{
    transform: rotate(180deg);
}
h1,p{
    color: azure;
}