/* mobile iphone 14pro max size: 430x932px */
/* tablet size: 768X1024px */
/* laptop/ desktop 1281–1920 pixels */


body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
footer {
  text-align: right;
  color: midnightblue;

}
h1 {
  font-size: 5rem;
}

.main h1 span{
  color:midnightblue ;
}
/* 
.main h1{
  width: 89vw;
}
*/
.card{
  width: 45%;
  
}

.title-image{
  float: left;
  height: 200px;
  margin-right: 50px;
}

.left{
  float: left;
}
.right{
  float: right;
}

/* responsiveness mobile */

@media (max-width:680px) {
  .logo{
    width: 100px;
  }
  h1{
    font-size: 3.5rem;
    text-align: center;
  }
  .card{
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .title-image{
    height: 200px;
    margin-top: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
    
  }
  
}

