/* mobile iphone 14pro max size: 430x932px */
/* tablet size: 768X1024px */
/* laptop/ desktop 1281–1920 pixels */


body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
.main h1 span{
  color:midnightblue ;

}
.main h1{
  
  width: 89vw;
}
.main.logo{
  display: block;
  position: fixed;
}
h1 {
  font-size: 5rem;
}
.title-image{
  
  float: left; 
  width: 10%; 
  height: 10%;
}
.card{
  display: inline-block;
  width: 40%;
}
h2.card-title{

}
.left{
  float: left;
}
.rigt{
  float: right;
}
footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}
/* responsiveness mobile */

@media (max-width:600px) {

  
}

