/* Styling for the body and container */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

/* Styling for the form */
form {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: rgb(37, 35, 35);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #33ac37;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.placeholder {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #39FF14;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Animations */
.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    transform: translateY(-20px);
}

.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
    transform: translateY(0);
}

.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateY(-20px);
}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}