<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AddRack.css">

    <title> Add Rack DispensaryTrack</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<script>
    var app = angular.module("my-app", []);

    app.factory('interceptor', [function () {
        var interceptor = {
            request: function (config) {
                config.headers.Authorization = localStorage.getItem("tkey");
                // debugger;
                return config;
            },
            response: function (response) {
                // debugger;
                return response;
            }
        };
        return interceptor;
    }]);

    app.config(function ($httpProvider) {
        $httpProvider.interceptors.push('interceptor');
    });

    app.controller('addRackCtrl', function ($scope, $http) {
        $scope.addRack = function () {
            var v = $scope.l;
            $http.post("https://localhost:44338/api/racks/insert", v).then(function (resp) {
                //alert(Success);
                debugger;
            }, function (err) {

            });


        };
    });
</script>


<body ng-app="my-app">
    <div ng-controller="addRackCtrl">
        <h2>Add Rack</h2>
        <form ng-submit="addRack() ">
            <input type="text" ng-model="l.Name" placeholder="Name"> <br>
            <input class="status" type="checkbox" ng-model="l.Status" ng-true-value="'Active'"
                ng-false-value="'Inactive'" ng-init="l.Status='Inactive'">
            {{l.Status}}<br>
            <input type="submit">
        </form>
    </div>
</body>

</html>