html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #fff;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    margin-bottom: 30px;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.login-box form input[type="submit"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03e9f4;
    opacity: 0.5;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.login-box form input[type="submit"]:hover:before {
    transform: scaleX(1);
}

.login-box form input[type="submit"]:hover {
    color: #0497d6;
}

.login-box form input[type="submit"]:hover:after {
    background: #ffffff;
    opacity: 0.5;
}

.login-box form input[type="submit"]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #03e9f4, #03e9f4);
    opacity: 0.5;
    transform: scaleY(0);
    transform-origin: bottom;
}