html,
body {
  margin: 0;
}

body {
  font-family: Inter;
}

.container {
  margin: 45px 40px;
}

header {
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20%;
}

header>h1 {
  font-size: 0.7rem;
  font-weight: 500;
}

article.journal-entry {
  display: flex;
  margin-bottom: 1.05rem;
}

article.journal-entry .marker {
  width: 0.5rem;
  margin-right: 0.3rem;
  margin-top: 0.5rem;
}

article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

article.journal-entry .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container strong.country {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 12px;
}

.info-container a {
  color: #2B283A;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918E9B;
}

.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  font-weight: bold;
}

.info-container p.entry-text {
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.info-container .location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-container .marker {
  font-size: 1rem;
  color: black;

}

.info-container span.country {
  text-transform: uppercase;
  font-size: 0.9rem;
  /* Increase country text size */
  line-height: 1;
  margin-right: 0.5rem;
}

.info-container a {
  font-size: 0.8rem;
  /* Increase link text size */
  color: #2B283A;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.journal-entry {
  max-width: 70%;
}