.name:hover{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: color-mix(in srgb,red 20, blue 30,green 50);
}
.input{
    text-align: center;
    
}

.companyName{
    text-align: center;
    font-size: 35px;
    color: rgb(183, 126, 237);
    shape-outside: margin-box;
}