body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background: url("./images/tom1.png");
  object-fit: cover;
  /* background-repeat: no-repeat;
  background-position: center; */
    
   
}

.a {
  background: url("./images/tom2.png");
    object-fit: cover;
}

.s {
  background: url("./images/tom3.png");
    object-fit: cover;
}

.d {
  background: url("./images/tom4.png");
    object-fit: cover;
}

.j {
  background: url("./images/snare.png");
    object-fit: cover;
}

.k {
  background: url("./images/crash.png");
    object-fit: cover;
}

.l {
  background: url("./images/kick.png");
    object-fit: cover;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
a{
  text-decoration: none;
  color: aliceblue;
  text-shadow: #DA0463 0 4px 4px;
  font-size: 1.2rem;
}
span{
  text-decoration: none;
    color: aliceblue;
    text-shadow: #DA0463 0 4px 4px;
    font-size: 1.2rem;
}