body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p{
    text-decoration: rgb(31, 30, 30);
}
p{
    color:brown;
}
p{
    color:brown;
}
#Article1{
    color:black;
}

#Article2{
    color:brown;
}

#Article3{
    color:blueviolet;
}